{% load static %}
{% load arabic_days %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/fontawesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="stylesheet" href=" {% static "css/style.css" %} ">

    <title>Home page</title>
</head>
<body>
    <div class="maincon">
        <div class="zwraper">
            <div class="toast">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-wifi"></i></div>
                    <div class="details">
                        <span>you are online now</span>
                        <p>Your internet connection is working perfectly</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="window" id="windowcon">
            <i id="closedetwin" class="fa-solid fa-xmark close" ></i>
            <div id="detailcontainer">
                
            </div>
        </div>
        <div class="rightcon">
            <div class="minhead">
                <img src=" {% static "images/gym.png" %} " alt="">
            </div>
            <ul>
                <i class="fa-solid fa-arrow-left" id="rightconexpend"></i>
                <a href="{% url "home" %}">
                    <li>
                        <i class="fa-solid fa-house-circle-check"></i>
                        <span>الرئيسية</span>
                    </li>
                </a>
                <a href="{% url "products" %}">
                    <li class="activeli">
                        <i class="fa-solid fa-file-export"></i>
                        <span>المبيعات</span>
                    </li>
                </a>

                <a href="{% url "clients" %}">
                    <li  class="">
                        <i class="fa-solid fa-users"></i>
                        <span>العملاء</span>
                    </li>
                </a>
                <a href="{% url "profits" %}">
                    <li  class="">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span>المصروفات</span>
                    </li>
                </a>
                {% if user.first_name == 'adminName' %}
                <a href="{% url "adminPage" %}">
                    <li>
                        <i class="fa-solid fa-user-tie"></i>
                        <span>المسئول</span>
                    </li>
                </a>
                {% endif %}
            </ul>
            <div class="minfoot">
                <a href="{% url "logout" %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
                <span>user</span>
            </div>
        </div>
        <div class="leftcon">
            <div class="status">
                <h2>المنتجات</h2>
                <form method="post" action="" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    
                    {% csrf_token %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
            
                    <div class="addsell" style="padding-top: 70px;">
                        <div class="wraper">
                            <div class="first">
                                <input type="text" name="name" id="" class="search_bar" required>
                                <span>المنتج</span>
                            </div>
                        </div>
                        <div class="wraper" style="width: 20%;">
                            <div class="second">
                                <input name='price' step="0.01"  type="number" id="price" class="search_bar" min="0" required >
                                <span>السعر</span>
                            </div>
                        </div>
                        <div class="wraper" style="width: 20%;">
                            <div class="second">
                                <input name='num' type="number" id="copies" class="search_bar" min="1" required >
                                <span>الكمية</span>
                            </div>
                        </div>

                    <button name="addSale" class="sellbtn">تأكيد</button>
                </form>
            </div>
            </div>
            <div class="status">
                <form method="post" action="" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    {% csrf_token %}
                    <div class="addsell">
                        <div class="wraper">
                            <div class="first">
                                <input  name="searchInput" value="{{request.POST.searchInput}}" type="text" id="search_bar" class="search_bar" required >
                                <span>بحث باسم المنتج</span>
                            </div>
                            <div class="search_res" id="search_res">
                                <table id="suplliersull">
                                    <th></th>
                                    <tbody id="suplliersul">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button name="search" class="sellbtn" style="width: 40px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <a href="{% url "products" %}" class="sellbtn" style="width: 40px; text-align:center;"><i class="fa-solid fa-arrows-rotate"></i></a>
                    </div>
                </form> 
                {% if products %}
                <table class="sellstable">
                    <thead>
                        <tr>
                            <th>الكود</th>
                            <th>المنتج</th>
                            <th>السعر</th>
                            <th>الكمية</th>
                            {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                            <th>حذف</th>
                            {% endif %}
                            {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == 'adminName' %}
                            <th>تعديل</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.num}}</td>
                            {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                            <td><button class="sellsdel" id="sellsdel" metadata='
                                <form method="post" action="{% url "saleDelete" product.id %}" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column; background-color:#221F3A; padding :20px;">
                                    {% csrf_token %}
                                    <div class="addsell" style="padding: 20px;flex-direction:column;">
                                        <h3 style="color:#fff;">حذف عملية</h3>
                                        <h3 style="color:#FF0000;">"حذف العملية سيؤدى الى حذف جميع المتعلقات بها"</h3>
                                        <br>
                                        <i class="fa-regular fa-trash-can" style="color: #ff3333;font-size: 100px;"></i>
                                        <br>
                                    </div>
                                    <button name="saleDelete" class="sellbtn">حذف</button>
                                </form>
                                '><i class="fa-solid fa-trash-can"></i></button></td>
                                {% endif %}
                                {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == 'adminName' %}
                                <td><button class="sellsup" id="sellsup" metadata='
                                <form method="post" action="{% url "saleUpdate" product.id %}" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column; background-color:#221F3A; padding :20px;">
                                    {% csrf_token %}
                                    <h3 style="color:#fff;">تعديل منتج</h3>
                                    <div class="addsell" style="padding-top: 70px;">
                                        <div class="wraper">
                                            <div class="first">
                                                <div class="first">
                                                    <input value="{{product.name}}" type="text" name="name" id="" class="search_bar" required>
                                                    <span>المنتج</span>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="wraper" style="width: 20%;">
                                             <div class="second">
                                                 <input value="{{product.price}}" min="0" name="price" type="number" id="search_bar" class="search_bar" required >
                                                 <span>السعر</span>
                                                </div>
                                            </div>
                                            <div class="wraper" style="width: 20%;">
                                                <div class="second">
                                                    <input value="{{product.num}}" min="1" name="num" type="number" id="search_bar" class="search_bar" required>
                                                    <span>الكمية</span>
                                                </div>
                                            </div>
                                        </div>
                                    <button name="saleUpdate" class="sellbtn">تعديل</button>
                                </form>
                                '><i class="fa-solid fa-pencil"></i></button></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="btnnav">
                        <div>
                            {% if products.has_previous %}
                            <a href="?page=1"><i class="fa-solid fa-angles-right"></i></a>
                            <a href="?page={{ products.previous_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
                            {% endif %}
                            <p>صفحة {{ products.number }} من {{ products.paginator.num_pages }}</p>
                        </div>
                        <div>
                            {% if products.has_next %}
                            <a href="?page={{ products.next_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
                            <a href="?page={{ products.paginator.num_pages }}"><i class="fa-solid fa-angles-left"></i></a>
                            {% endif %}
    
                        </div>
                    </div>
                    {% else %}
                <h1>لا يوجد منتجات</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <script src=" {% static "js/select.js" %} "></script>
    <script src=" {% static "js/main.js" %} "></script>

</body>
</html>